.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

.jumbotron {
	padding: 5px;
	margin: 0;
	background-color: #424549;
	border-radius: none;
}

.sidebar {
    color: white;
    background-color: #2e3135;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.graph-container {
	padding-top: 5px;
	padding-bottom: 5px;
}

.graph-heading {
    margin: 0;
    padding-top: 0;
}

.stock-color {
    color: #8884d8;
}

.trend-color {
    color: #f54336;
}

.form-error {
    color: #bd3e3e;
}

.graph-div {
    height: 225px;
    display: flex;
    align-items: center;
}

.graph-div > .graph-error {
	width: 100%;
	text-align: center;
	align-items: center;
}

.graph-div > .graph-error > h4 {
	color: white;
    border: solid 1px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
}

.graph-div > .graph-error > h5 {
	color: white;
	font-weight: 300;
}

/*  
    CSS Spinner
    https://icons8.com/cssload/en/spinners/7
*/

.cssload-container{
    display: block;
	margin: auto;
    width:49px;
}

.cssload-loading{
	width: 44px;
	height: 44px;
	text-align: left;
	animation:cssload-loading-ani1 2.3s ease-in-out infinite;
		-o-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
		-ms-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
		-webkit-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
		-moz-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
}
.cssload-loading i,
.cssload-loading i:before{
	content: "";
	width: 44px;
	height: 44px;
	position: absolute;
}
.cssload-loading i{
	border-radius: 50%; 
	overflow: hidden;
}
.cssload-loading i:nth-child(1){
	background: rgb(245,67,54);
	transform:translate(0,-24px);
		-o-transform:translate(0,-24px);
		-ms-transform:translate(0,-24px);
		-webkit-transform:translate(0,-24px);
		-moz-transform:translate(0,-24px);
}
.cssload-loading i:nth-child(1):before{
	background: rgb(136,132,216);
	bottom: 0;
	animation:cssload-loading-ani2 2.3s ease-in-out infinite;
		-o-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
		-ms-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
		-webkit-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
		-moz-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
}
.cssload-loading i:nth-child(2){
	background: rgb(136,132,216);
	transform:translate(0,24px);
		-o-transform:translate(0,24px);
		-ms-transform:translate(0,24px);
		-webkit-transform:translate(0,24px);
		-moz-transform:translate(0,24px);
}
.cssload-loading i:nth-child(2):before{
	animation:cssload-loading-ani2 2.3s ease-in-out infinite;
		-o-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
		-ms-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
		-webkit-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
		-moz-animation:cssload-loading-ani2 2.3s ease-in-out infinite;
	background: rgb(245,67,54);
}



@keyframes cssload-loading-ani1{
	40%,50%{
		transform:rotate(180deg);
	}
	90%,100%{
		transform:rotate(360deg);
	}
}

@-o-keyframes cssload-loading-ani1{
	40%,50%{
		-o-transform:rotate(180deg);
	}
	90%,100%{
		-o-transform:rotate(360deg);
	}
}

@-ms-keyframes cssload-loading-ani1{
	40%,50%{
		-ms-transform:rotate(180deg);
	}
	90%,100%{
		-ms-transform:rotate(360deg);
	}
}

@-webkit-keyframes cssload-loading-ani1{
	40%,50%{
		-webkit-transform:rotate(180deg);
	}
	90%,100%{
		-webkit-transform:rotate(360deg);
	}
}

@-moz-keyframes cssload-loading-ani1{
	40%,50%{
		-moz-transform:rotate(180deg);
	}
	90%,100%{
		-moz-transform:rotate(360deg);
	}
}

@keyframes cssload-loading-ani2{
	40%,100%{
		height:100%;
	}
	50%,90%{
		height:0;
	}
}

@-o-keyframes cssload-loading-ani2{
	40%,100%{
		height:100%;
	}
	50%,90%{
		height:0;
	}
}

@-ms-keyframes cssload-loading-ani2{
	40%,100%{
		height:100%;
	}
	50%,90%{
		height:0;
	}
}

@-webkit-keyframes cssload-loading-ani2{
	40%,100%{
		height:100%;
	}
	50%,90%{
		height:0;
	}
}

@-moz-keyframes cssload-loading-ani2{
	40%,100%{
		height:100%;
	}
	50%,90%{
		height:0;
	}
}